.nav a {
  color: #5a5a5a;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-color:black;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron a {
 color:#00b0ff;
}

.jumbotron .container {
vertical-align:middle;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 22px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.projects {
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.projects h2 {
    color:#393c3d;
    font-size:32px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.projects p {
    font-size:18px;
    margin-bottom:13px;
}

.projects a {
  color: #00b0ff;
}

.social {
    margin: 0;
    padding: 0;
}

.social i {
 color:;    
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.projects h4 {
  font-size:20px;
  color:#00b0ff;
}

.projects img {
    opacity: 1.0;
    transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.projects img:hover {
    filter: brightness(70%);
    transition: opacity .55s ease-in-out;
    -moz-transition: opacity .55s ease-in-out;
    -webkit-transition: opacity .55s ease-in-out;
}


@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: normal;
  src: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff") format("woff");
}

@font-face {
  font-family: 'Shift';
  font-style: normal;
  font-weight: bold;
  src: url("https://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift-bold.woff") format("woff");
}
