.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}


.nav li {
  display: inline;
}

.jumbotron {
  background-color:black;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron a {
 color:#00b0ff;
}

.jumbotron .container {
vertical-align:middle;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 18px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.projects {
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
}

.projects h2 {
    color:#393c3d;
    font-size:24px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.projects p {
    font-size:15px;
    margin-bottom:13px;
}

.projects a {
  color: #00b0ff;
}

.social {
    margin: 0;
    padding: 0;
}

.social i {
 color:;    
}

.social ul {
    margin: 0;
    padding: 5px;
}

.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}

.projects h4 {
  color:#00b0ff;
}

.project-info {
  margin-top:15px;
}
